<launch>
        <arg name="veh" default="$(env VEHICLE_NAME)"/>
        <arg name="pkg_name" value="find_person"/>
        <arg name="node_name" default="find_person_node"/>

	<remap from="$(arg node_name)/exe_camera" to="yolo_node/exe_camera"/>

	<node ns="$(arg veh)" name="$(arg node_name)" pkg="$(arg pkg_name)" type="$(arg node_name).py" output="screen">
        </node>

	<include file="$(find yolo)/launch/yolo.launch">
        </include>

</launch>
